.my-movies {
  margin-top: 24px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.my-movies h1 {
  margin-top: 400px;
  margin-bottom: 14px;
  text-align: center;
  font-size: 15px;
  display: block;
  color: rgb(250, 250, 250);
  min-height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #2b2a33;
}

.my-movies span {
  margin-bottom: 14px;
  text-align: center;
  font-size: 15px;
  display: block;
  color: rgb(250, 250, 250);
  min-height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.my-movies ul {
  width: 600px;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
}

.my-movies ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  font-family: "Source Sans Pro", sans-serif;
}

.my-movies div {
  /* details and delete div */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2a33;
}
.my-movies div a {
  text-decoration: none;
  color: #a1a1a1;
  margin-right: 10px;
  margin-top: 15px;
  background-color: #2b2a33;
  font-family: "Source Sans Pro", sans-serif;
}
.my-movies div a:hover {
  color: #ececec;
}
.my-movies div button {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  margin-right: 12px;
  margin-top: 14px;
  margin-left: 0px;
  font-size: 15px;
  border: 0;
  outline: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
  background-color: #d23034;
}
.my-movies:hover div button {
  background-color: #f95457;
}

.my-movies img {
  width: 100px;
}
/* @media screen and (max-width: 730px) {
  .my-movies {
    width: 100px;
  }
} */
