.welcome img {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.movie-list {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1.1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}
h1 {
  height: 40px;
  margin-left: 15px;
  width: 100%;
  font-size: 0.8rem;
  color: rgb(223, 223, 223);
  background-color: #1c1c27;
}

h2 {
  align-items: center;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 25px;
  color: rgb(223, 223, 223);
  background-color: #1c1c27;
}

.movie-list img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}
.vote img {
  width: 15px;
  background-color: #1c1c27;
}

.movie-list a {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px;
  background-color: #1c1c27;
  color: rgb(0, 0, 0);
  text-decoration: none;
  width: 190px;
  max-width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

@media (max-width: 1640px) {
  .movie-list {
    grid-template-columns: repeat(6, 1.1fr);
  }
}

@media (max-width: 1200px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width: 850px) {
  .movie-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;
  
  }
  .card {
    max-width: 100%;
  }
}
