.header {
  background-color: #1a191e;
  display: flex;
  height: 65px;
  min-width: 100%;
}

.logo img {
  width: 100%;
}

.mymovies {
  padding-top: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  cursor: pointer;
  background-color: #1a191e;
  color: rgb(221, 221, 221);
}
.mymovies:hover {
  color: rgb(255, 255, 255);
}

.date {
  padding-top: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  cursor: pointer;
  background-color: #1a191e;
  color: rgb(255, 255, 255);
}

@media (max-width: 700px) {
  .mymovies {
    font-size: 10px;
   
  }
  .date {
    font-size: 10px;
  
  }

  .logo img {
    width: 180px;
    margin-top: 15px;
  }
  .logo {background-color: #1a191e;}
}
